/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #0E46A3;
$presentation-title-slide-text-align: "left";

/*-- scss:rules --*/

details>summary {
  font-size: 0.5em;
}

.small {
  font-size: 0.5em;
}

strong, b {
  color: green;
}

.reveal .map img {
  height: 100vh;
  padding-left: 2em;
}

.reveal .slide-logo {
  max-height: unset;
  height: 500px !important;
}

.reveal .slides section {
  font-size: 0.9em; // Adjust this value to the desired font size
}


.reveal .slide .question {
  border-left: 3px solid #0E46A3;
  padding-left: 0.5em;
  padding-top: 0.55em;
  padding-bottom: 0.25em;
  background: #E1F7F5;
}

.reveal .slide .poll {
  border-left: 3px solid #0E46A3;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  background: #E1F7F5;
}

.reveal .slide .appex {
  border-left: 3px solid #003559;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #EBF7FF;
}

@keyframes shake {
  0% { transform: translateX(0) rotate(0deg); }
  25% { transform: translateX(-5px) rotate(-5deg); }
  50% { transform: translateX(5px) rotate(5deg); }
  75% { transform: translateX(-5px) rotate(-5deg); }
  100% { transform: translateX(0) rotate(0deg); }
}
.shake {
    animation: shake 2s infinite;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 10px;  /* Adjust the size as needed */
  height: auto;
}
